.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1574158622682-e40e69881006" );
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .icons {
    display: flex;
    gap: 30px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
  }
  
  .icon {
    text-align: center;
    cursor: pointer;
    color: white;
  }
  
  .icon img {
    width: 60px;
    height: 60px;
  }
  